$color-light: #ffffff
$color-title: #183B56
$color-text: #5A7184
$color-secondary: rgb(179, 186, 197)
$color-buy: #1565D8
$color-like: #FAAD13
$color-opacity: rgba(179, 186, 197, 0.1)
h1
  font-family: Roboto Condensed
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  color: $color-title
  letter-spacing: 0.2px
h4
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 20px
  line-height: 24px
  color: $color-title
  letter-spacing: 0.2px
