*
  box-sizing: border-box
  text-decoration: none

html
  font-size: 10px

body
  font-family: 'Open Sans', Verdana, sans-serif
  background-color: $color-light
  font-size: 1.6rem

.container
  max-width: 1140px
  margin: auto

a
  color: inherit

img
  max-width: 100%

=background-secondary
  background-color: $color-opacity
  mix-blend-mode: normal
