*
  box-sizing: border-box

html
  font-size: 10px

body
  font-family: 'Open Sans', Verdana, sans-serif
  background-color: $color-light
  text-decoration: none
  font-size: 1.6rem

.container
  max-width: 1140px
  margin: auto

img
  max-width: 100%

=background-secondary
  background: $color-secondary
  mix-blend-mode: normal
  opacity: 0.1
