@media (max-width: 1200px)
  .container
    max-width: 960px
    width: 98%
  .navbar
    &__wrap
      &-menu
        margin-left: 300px

  .main
    &-wrapper
      padding: 46px 0 0 0
    &-button
      display: flex
      flex-direction: column

    &__text
      margin-bottom: 13px
  .main
    &-button
      &__buy
        margin-right: 0
        margin-bottom: 13px
      &__read
        text-align: center
  .button
    max-width: 330px
    &--bordered
      font-size: 16px
      line-height: 22px
      padding: 12px 48px
    &--colored
      padding: 12px 37px
