@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    padding-top: 6px
    &__wrap
    &-menu
      margin-left: 188px
      &__ul
        font-size: 14px
        line-height: 19px
      &__item
        margin-right: 15px
      &__button
        font-size: 14px
        line-height: 19px
        padding: 13px 29px
  .main
    padding-top: 0
    padding-bottom: 48px
    &-image
      width: 215px
    &__background
      margin: 0 63px
    &-title
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 12px
      margin-top: 28px
    &-subtitle
      font-weight: 500
      font-size: 16px
      line-height: 24px
      text-align: center
      margin-bottom: 22px
    &__text
      font-size: 16px
      line-height: 23px
      text-align: center
      margin-bottom: 22px
    &-button
      align-items: center
      &__read
        font-size: 16px
        line-height: 22px
        padding: 6px 53px
    &-wrapper
      padding: 0
      margin-right: 60px
  .button
    &--colored
      max-width: 236px
      padding: 6px 48px
  .image
    &-container
      min-height: 481px
  .recommended
    padding-bottom: 92px
    column-gap: 0
    &__button
      &-more
        padding: 0
        margin-top: -4px
  .top
    &__items
      padding: 22px 1px 0 17px

  .unreleased
    padding: 64px 0 160px
    &__title
      text-align: center
    &__book
      margin: 0 auto
    &-slider
      &__button
        top: auto
        right: auto
        left: 50%
        bottom: -110px
        &--next
          transform: translate(43%)
  .category
    &-slider
      &__button
        top: auto
        right: auto
        &--next
          right: 43%
          transform: translate(50%)
        &--prev
          left: 43%
          transform: translate(-50%)

  .story
    padding: 50px 0 28px
    &-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-right: 0
      margin-bottom: 19px
      margin-top: -5px
    &__title
      font-size: 36px
      line-height: 48px
      text-align: center
      margin-bottom: 24px
    &__subtitle
      text-align: center
      max-width: 577px
      &-image
        top: 0
    &__main
      &-video
        padding: 0 0 52% 0
        margin-bottom: 18px

    &__items
      column-gap: 22px
    &-item
      &__video
        margin-bottom: 12px
      &__title
        font-size: 16px
        line-height: 20px
      &__subtitle
        font-size: 12px
        line-height: 20px

  #press
    display: none
  #press-992
    display: block

  .partners
    padding: 57px 71px 68px
    &-wrapper
      display: flex
      // flex-direction: column
      gap: 20px
    &__title
      margin-bottom: 42px
    &__parts-1
      flex-wrap: wrap
      margin-bottom: 0
      margin-right: 20px

    &__parts-2
      flex-wrap: wrap

  .fa-solid
    font-size: 27px
  .icon
    &-flag
      font-size: 14px
