@media (max-width: 320px)
  .container
    max-width: 280px
    width: 100%
  .image
    &-container
      min-height: 332px
  .main
    &-title
      margin-top: 45px
      margin-bottom: 25px
    &-subtitle
      margin-bottom: 32px
    &__text
      margin-bottom: 16px
    &-button
      &__read
        padding: 6px 28px
      &__buy
        margin-bottom: 17px
    &-image
      max-width: 143px
  .button--colored
    padding: 6px 20px
