@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    padding-top: 6px
    &__wrap
    &-menu
      margin-left: 188px
      &__ul
        font-size: 14px
        line-height: 19px
      &__item
        margin-right: 15px
      &__button
        font-size: 14px
        line-height: 19px
        padding: 13px 29px
  .main
    padding-top: 0
    padding-bottom: 48px
    &-image
      width: 215px
    &__background
      margin: 0 63px
    &-title
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 12px
      margin-top: 28px
    &-subtitle
      font-weight: 500
      font-size: 16px
      line-height: 24px
      text-align: center
      margin-bottom: 22px
    &__text
      font-size: 16px
      line-height: 23px
      text-align: center
      margin-bottom: 22px
    &-button
      align-items: center
      &__read
        font-size: 16px
        line-height: 22px
        padding: 6px 53px
    &-wrapper
      padding: 0
      margin-right: 60px
  .button
    &--colored
      max-width: 236px
      padding: 6px 48px
  .image
    &-container
      min-height: 481px
  .recommended
    padding-bottom: 92px
    column-gap: 0
    &__button
      &-more
        padding: 0
        margin-top: -4px
  .top
    &__items
      padding: 22px 1px 0 17px

  .unreleased
    padding: 64px 0 160px
    &__title
      text-align: center
    &__book
      margin: 0 auto
    &-slider
      &__button
        top: auto
        right: auto
        left: 50%
        bottom: -110px
        &--next
          transform: translate(43%)
  .category
    &-slider
      &__button
        top: auto
        right: auto
        &--next
          right: 43%
          transform: translate(50%)
        &--prev
          left: 43%
          transform: translate(-50%)

  .story
    padding: 50px 0 28px
    &-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-right: 0
      margin-bottom: 19px
      margin-top: -5px
    &__title
      font-size: 36px
      line-height: 48px
      text-align: center
      margin-bottom: 24px
    &__subtitle
      text-align: center
      max-width: 577px
      &-image
        top: 0
    &__main
      &-video
        padding: 0 0 52% 0
        margin-bottom: 18px

    &__items
      column-gap: 22px
    &-item
      &__video
        margin-bottom: 12px
      &__title
        font-size: 16px
        line-height: 20px
      &__subtitle
        font-size: 12px
        line-height: 20px

  #press
    display: none
  #press-992
    display: block

  .partners
    padding: 57px 17px 28px
    &-wrapper
      display: flex
      // flex-direction: column
      gap: 20px
    &__title
      margin-bottom: 42px
    &__parts-1
      flex-wrap: wrap
      margin-bottom: 0
      margin-right: 20px

    &__parts-2
      flex-wrap: wrap

  .fa-solid
    font-size: 27px
  .icon
    &-flag
      font-size: 14px

  .blog
    padding: 62px 0 29px
    flex-direction: column
    &__title
      text-align: center
      margin-bottom: 34px
    &-main
      &__image
        position: relative
        overflow: hidden
        padding: 0 0 52% 0
        border-radius: 8px
        margin-bottom: 17px
      &__title
        padding: 0
      &__text
        padding: 0
        margin-bottom: 25px
    &__all
      order: 4
      padding-top: 0
      margin-top: -10px
    &__button
      margin-bottom: 0
    &-secondary
      margin-left: 0
      margin-bottom: 15px
      padding-right: 67px
      &__image
        min-width: 320px
        height: 170px
        margin-right: 49px
  .image
    &-main
      position: absolute
      top: 0
      left: 0
      width: 100%
      object-fit: cover

  .stock
    &-wrapper
      flex-direction: column
      align-items: start
    &__subscribe
      margin-top: 0
  .blue
    &-container
      padding: 47px 22px 64px 37px

  .footer
    padding: 47px 0 80px
    &-logo
      grid-row: 1/2
      grid-column: 1/5
    &-wrapper
      grid-template-columns: repeat(4, minmax(auto, 165px))
      grid-template-rows: minmax(146px, min-content)
      // grid-template-rows: 146px, 1 fr, 102px
      // grid-template-rows: 180px 80px 96px 102px
      grid-gap: 25px
      column-gap: 20px

    &__product
      grid-row: 2/3
      grid-column: 1/2
  .copyright
    min-height: 96px
    grid-column: 1/5
    grid-row: 3/4
