@media (max-width: 1200px)
  .container
    max-width: 960px
    width: 98%
  .navbar
    &__wrap
      &-menu
        margin-left: 300px

  .main
    &-wrapper
      padding: 46px 0 0 0
    &-button
      display: flex
      flex-direction: column

    &__text
      margin-bottom: 13px
  .main
    &-button
      &__buy
        margin-right: 0
        margin-bottom: 13px
      &__read
        text-align: center
  .button
    &--bordered
      max-width: 330px
      font-size: 16px
      line-height: 22px
      padding: 12px 48px
    &--colored
      max-width: 330px
      padding: 12px 37px

  .recommended
    grid-template-columns: 1fr 1fr
    &__items
      grid-template-columns: 1fr
      grid-auto-flow: row
      column-gap: 0
    &__item
      grid-column: 1
      &:nth-child(even)
        display: none
    &__button
      &-more
        padding: 0

  .category
    &-slider
      height: 480px
      &__slide
        height: calc((100%-26px)/2)
  .story
    &-item
      &__image
        object-fit: cover
